.main {
    width: 100%;
    height: 60%;
    background-color: #111111;
    position: relative;
}

.main img {
    position: absolute;
    top: calc(42%);
    left: 50%;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 2px solid #BBBBBB;
    box-shadow: 0 0 10px gray;
    background: radial-gradient(#555555, #111111);
    transform: translate(-50%, 0%);
    object-fit: contain;
}

.main .header {
    position: absolute;
    text-align: center;
    top: calc(48% + 180px);
    left: 50%;
    color: white;
    font-size: 48px;
    transform: translate(-50%, -50%);
}

.main .meta {
    position: absolute;
    text-align: center;
    top: calc(48% + 234px);
    left: 50%;
    color: white;
    font-size: 16px;
    font-weight: 0;
    font-style: italic;
    transform: translate(-50%, -50%);
}

.main #screen {
    width: 100%;
    height: 100%;
}